body{
	color: #ffffff;
	background-color: #000000;
}
body.impress-mouse-timeout div#impress-toolbar {
	display: none;
}
::selection{
	background: #e638e9;
	color: black;
}
body{
	cursor: url('../figures/cursor.png') 15 15, auto;
}
h1{
	font-family: sans-serif;
	font-size: 40pt;
}
a{
	color: #eaa0eb;
	background-color: transparent;
	text-decoration: none;
}
.step {
	opacity: 0.3;
	transition: opacity 1s;
}
.step.active {
	  opacity: 1
}
.box{
	/*display: block;*/
	width: 1000px;
}
.right{
	width: 200px;
	border-radius: 20px;
	float: right;
	margin-right: 10px;
}
.bottom{
	position: absolute;
	bottom: 0px;
}
.fullscreen{
	width: 1000px;
	border-radius: 0px;
	float: left;
	margin-right: 0px;
}
table, tr, th, td{
	border-collapse: collapse;
	border: 1px solid;
	padding-right:30px;
	padding-left:30px;
	line-height: 0px;
	font-size: 25pt;
}
.noborder{
	border: 0px solid;
	padding-left:0px;
	line-height: 100px;

}
p{
	font-family: sans-serif;
	font-size: 25pt;
}
.paper{
	float: right;
	font-size: 15pt;
}
span{
	font-family: sans-serif;
	font-size: 25pt;
}
ul{
	font-family: sans-serif;
	font-size: 25pt;

}
img{
	width: 200px;
	border-radius: 20px;
	float: left;
	margin-right: 10px;
}
.rectangular{
	width: 200px;
	border-radius: 0px;
	float: left;
	margin-right: 0px;
}
.center{
	width: 50%;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
}
.inverted{
	filter: invert(1);
	height: 30px;
	width: 700px;
	border-radius: 0px;
}
